# Python
__pycache__/
*.py[cod]
*.sqlite3
*.sqlite3-journal
venv/

# Django/local data
e_fintrack_backend/.env
e_fintrack_backend/fintrack_sqlite_backup.json

# Node
node_modules/
dist/

# Editors and OS
.idea/
.vscode/
.DS_Store
Thumbs.db
