DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=your-domain.com,127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=https://your-frontend-domain.com,http://127.0.0.1:5173

FINTRACK_DB_ENGINE=postgresql
POSTGRES_DB=fintrack
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace-with-your-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
DB_CONN_MAX_AGE=60

FINTRACK_LARGE_TRANSACTION_LIMIT=10000
